

*{
    box-sizing: border-box;
}

.cf:before,
.cf:after {
   content: " ";
   display: table;
}

.cf:after {
   clear: both;
}

#banner{
    background-color: #D93A33;
    height: 55px;
}

#ul1 {
    list-style-type: none;
    float: right;
    margin-right: 90px;
    position: relative;
    /*top: -1px;*/
}

.li1{
    display: inline;
    padding: 14px 16px;
    float: left;
    color: white;
    text-align: center;
    margin-top: 8px;
    box-sizing: border-box;
    border-right: 1px solid white;


}

#logo {
    height: 45px;
    margin-left: 63px;
    margin-top: 5px;
}

#download{
    background-color: #77AE49;
    margin-top: 0px;
    padding-top: 21px;

}

.remove {
    border-right: 0px;
}

#background1{
    height: 900px;
}


/*---------------------ROW1-----------------------*/

/*color: #2762a9;*/
    /*font-family: 'Architects Daughter',X-LocaleSpecific,sans-serif;*/
#heart{
    float: left;
    color: #2762a9;
    font-family: 'Architects Daughter', X-LocaleSpecific,sans-serif;
    text-align: center;
    display: inline;
    background: url(images/background1.png);
    background-size: cover;
    background-position-x: center;


}

.heading{
    /*position: relative;*/
    left: 50px;
    margin-top: 150px;

}

h1{
    font-weight: bold;
    font-size:  6em;
}

h3{

    font-size: 2.5em;
}

/*---------------------ROW2-----------------------*/


#left{
    background-color: white;
    text-align: center;
}

#right{
    background-color: #008B89;
    #background-color: #528A88;
    color: white;
    text-align: center;
}
#heading2{
        font-size: 1.5em;
        font-weight: bold;
        font-family: Helvetica;
        text-align: center;
}

#mlogo{
    margin-top: 50px;
    height: 175px;

}

#vr{
    margin-top: 50px;
    height: 175px;
}

.paragraph1{
    text-align: center;
    padding: 20px 20px;
    font-size: 1.5em;
}

 .imgl{
     height: 30px;
     text-align: center;
 }

.imgr{
    height: 30px;
     text-align: center;
}

#vrgoggles{
    height: 20px;
}

table{
    height: 50px;
}

.align{
    text-align: left;
    line-height: 2.5em;
    padding-left: 200px;
    font-size: 1.5em;
    color: #66AAE5;
    text-decoration: underline;
}

.innovations {
    color: white;
    text-decoration: underline;
}

.fox{
    margin-bottom: 0;
    text-align: center;
    background: url(images/background2.png);
    background-size: cover;
    background-position-x: center;
    height: 850px;
}

.fox img{
    height: 180px;
    padding-top: 30px;
}
.fox h2{
    color: white;
}

.foxfooter h2 {
    /*font-weight: 700;*/
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
}

.foxfooter {
    text-align: center;
    background-color: #2D253B;
    padding: 20px 60px;
}
.foxfooter h3 {
    color: white;
    padding-bottom: 20px;
    font-size: 22px;
}

.foxfooter a {
    text-decoration: underline;
    color: white;
    font-size: 20px;
}

.info img{
    height: 80px;
}

.info {
    padding: 65px;
    text-align: center;
    /*background-color: #F5F5F5;*/
}

.info h3 {
    font-size: 20px;
    font-weight: bold;
}

.info p {
    font-size: 17px;
}

/*-----------------------------------Footer--------------------------------------------*/

.love {
    height: 200px;
    background-color: #DC412C;
    color: white;
    padding: 40px;
}
.newsletter img, .love-web {
    float: left;
}
.newsletter img {
    height: 100px;
}


.love-web {
    padding-left: 30px;
    width: 240px;
}
.love-web h3 {
    margin-top: 0;
    font-weight: 900;
    font-style: italic;
    font-size: 32px;
}
.love-web p {
    font-size: 19px;
}
.sign-up input, .sign-up button {
    display: block;
    width: 310px;
    height: 43px;
    border-radius: 5px;
    border: 3px solid white;
}

.sign-up button {
    height: 48px;
    background-color: #DC412C;
    margin-top: 15px;
    font-size: 20px;
}

.sign-up input{
    color: grey;
    padding-left: 15px;
    font-size: 16px;
}

.footer ul{
    list-style-type: none;
}
.footer img {
    height: 31px;
    padding-bottom: 5px;
}

.footer {
    color: white;
    height: 200px;
    background: #666666;
    padding: 40px;
}
.footer p {
    padding-top: 5px;
}
.footer a {
    color: #68C4D8;
}
.form select {
    color: black;
    width: 163px;
    margin-top: 13px;
}

@media (max-width: 991px) {
    .navbar-brand img {
        height: 75px;
    }

    .navbar-collapse, .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        height: 75px;
    }

    .navbar-toggle {
        float: left;
        height: 75px;
        margin-top: 0;
        margin-bottom: 0;

    }
    .intro h3 {
        font-size: 58px;

    }
    .intro p{
        padding: 0;
    }

    .intro {
        padding: 0 20px;
    }

    .column img {
        height: 273px;
    }
    .icon {

        display: none;
    }

    .column li {
        text-align: center;
    }
    .column ul {
        padding-bottom: 60px;
        margin-bottom: -10px;
    }
    .mountain {
        background-position: right;
    }
    .info p {
        padding: 40px;
    }
    .love {
        height: 400px;
        text-align: center;
    }
    .newsletter img, .love-web {
        float: none;
        padding: 8px;
    }
    .love p, .love h3 {
        display: block;
    }
    .love-web, .sign-up {
        margin: 0 auto;
    }
}
